<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Nuget Preview" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="Nuget" value="https://www.nuget.org/api/v2" />
    <add key="DataTools Nuget" value="./bin/nuget" />
    <add key="PowerBIComponents" value="https://powerbi.pkgs.visualstudio.com/_packaging/PowerBiComponents/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="SQLIS_DE" value="true" />
    <add key="PBI Externals" value="true" />
    <add key="Microsoft OSS" value="true" />
  </disabledPackageSources>
</configuration>
